<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <table class="table table-striped">
        <caption>Employees list</caption>
        <thead>
            <tr>
                <% for (let i of Object.keys(JSON.parse(JSON.stringify(data[0])))) { %>
                    <th><%= i %></th>
                <% } %>
            </tr>
        </thead>
        <tbody>
            <% for (let i of data) { %>
                <tr>
                <% for (let j of Object.values(JSON.parse(JSON.stringify(i)))) { %>
                    <td><%= j %></td>
                <% } %>
                </tr>
            <% } %>
        </tbody>
    </table>

    <form id="create-employee">
        <label for="employee-name"></label>
        <input type="text" id="employee-name">
        <br>
        <input type="submit" value="Create Employee">
    </form>

    <form id="update-employee">
        <label for="update-employee-name"></label>
        <input type="text" id="update-employee-name">
        <br>
        <input type="submit" value="Update Employee">
    </form>

    <button id="delete-employee">Delete Employee</button>

    <button id="get-employees">get Employees</button>
    
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/javascripts/employee.js"></script>
</body>
</html>